@font-face {
    font-family: Pollyester;
    src: url(fonts/Pollyester/Pollyester.otf)
}
@font-face {
    font-family: BlackBaron;
    src: url(fonts/BlackBaron/Black-Baron\ Gothic.otf)
}
body{
    margin: 0;
    background-color: #030b24;
    font-family: essay-text, serif;
}
h1, h2{
    font-family: Pollyester, serif;
    color: #274C54;
}
h1{
    font-size: 4rem;
    text-align: center;
    color: #274C54;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.year{
    text-align: center;
    color: #274C54;
}
h3, h4{
    font-family: 'hightower-text', serif;
}
p{
    font-family: 'essay-text', serif;
    max-width: 60ch;
}
.headr{
    max-width: 100%;
    display: block;
    margin: auto;
}
.content{
    max-width: 60%;
    display: block;
    margin-bottom:0 ;
    margin: auto;
    background-color: #ececbb;
}
.home_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.break{
    width: 100%;
}
.cont{
    width: 25%;

}
.sub{
    text-align: center;
    display: block;
    margin: auto;
}
.bottom{
    padding-bottom: 2rem;
    margin-bottom: 0;
}
.bodtxt{
    display: block;
    margin: auto;
    padding-bottom: 0;
}
.nav_cont_top{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(181, 206, 134);

}
.nav_cont{
    display: flex;
    justify-content: space-evenly;

}
.nav{
    font-size: 1.2rem;
    font-family: 'hightower-text',serif;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-decoration: none;
}
.pg_on{
    text-decoration: overline;
    color:#985fa5;
}
a{
    color:#54255f;
}
a:hover{
    color:#985fa5; 
}
a:active a:active{
    color:#54255f; 
}
.bigLink{
    text-decoration: none;
}
.bodLink{
    font-weight: bold;
}
.title{
    font-size: 2rem;
}
.contLst{
margin-left: 25%;
padding-bottom: 2rem;
}